@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(249 250 251 / 1);
  font-family: 'Inter', 'system-ui', 'sans-serif';
  font-weight: 300;
}

html,
body,
body > div:first-child,
div#__next {
  height: 92.5vh;
}

.svg-icon {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
